<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--Index page for app-->
    <servlet-mapping>
        <servlet-name>IndexPage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexPage</servlet-name>
        <servlet-class>IndexPage</servlet-class>
    </servlet>

    <listener>
        <listener-class>ContextListener</listener-class>
    </listener>
</web-app>